<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>
    <title>AJ's GPA CALC</title>
  </head>
​
  <body>
    <div class="row">
      <div class="container" id="results">
    <h1> Your GPA is: <%= @gpa_results %> </h1>
      </div>
    </div>
  </body>
</html>